.Jumbo { max-width: 550px;
    margin: 0px auto}
.container1 {
    border-color: rgb(8, 45, 87); 
    border-style: double;  
    padding: 30px; 
    background: rgb(56, 56, 42)
    }
.navbar {
    color: blue; 
    background:rgb(56, 56, 42)
    }
.navbar-brand {
     text-align: center}
body {background: rgb(109, 107, 107)}
.container2 {
    max-width: 550px;
    margin: 0px
}
.bio { font-weight: 260;}

.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines li a {
    padding: 0.75rem 0;
    color: rgba(10, 10, 10, 0.5);
    position: relative;
    margin-left: 1rem;
  }
  
  .menu-hover-lines li:first-child a {
    margin-left: 0;
  }
  
  .menu-hover-lines li.active > a {
    background-color: transparent;
  }
  
  .menu-hover-lines a:before,
  .menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #1779ba;
    width: 0;
  }
  
  .menu-hover-lines a::before {
    top: 0;
    left: 0;
  }
  
  .menu-hover-lines a::after {
    bottom: 0;
    right: 0;
  }
  
  .menu-hover-lines a:hover,
  .menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines a:hover::before,
  .menu-hover-lines .active a::before,
  .menu-hover-lines a:hover::after,
  .menu-hover-lines .active a::after {
    width: 100%;
  }
  
.flip-card {
    -webkit-perspective: 1000;
            perspective: 1000;
    border: 0;
    background: transparent;
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card.hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .flip-card-inner-front-wds,
  .flip-card-inner-front-pwg,
  .flip-card-inner-front-lf,
  .flip-card,
  .flip-card-inner-front,
  .flip-card-inner-back {
    width: 100%;
    height: 20rem;
  }
  
  .flip-card-inner {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .flip-card-inner-front-wds,
  .flip-card-inner-front-pwg,
  .flip-card-inner-front-lf,
  .flip-card-inner-front,
  .flip-card-inner-back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .flip-card-inner-front-wds {
    background: url('../photos/wdCode.png') 0 0 no-repeat;
    background-size: contain;
    z-index: 2;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flip-card-inner-front-pwg {
    background: url('../photos/pwGenCode.png') 0 0 no-repeat;
    background-size: contain;
    z-index: 2;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flip-card-inner-front-lf {
    background: url('../photos/covidApiCode.png') 0 0 no-repeat;
    background-size: contain;
    z-index: 2;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  
  .flip-card-inner-front-wds span,
  .flip-card-inner-front-pwg span,
  .flip-card-inner-front-lf span {
    width: 100%;
    text-align: center;
    background: rgba(254, 254, 254, 0.8);
    padding: 0.25rem 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .flip-card-inner-back-lf,
  .flip-card-inner-back-pwg,
  .flip-card-inner-back-wds {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
  
  .flip-card-inner-back-text-pwg,
  .flip-car-inner-back-text-lf,
  .flip-card-inner-back-text-wds {
    background: lightgray; 
    font-weight: bold;
    background-size: contain;
    z-index: 2;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flip-card-inner-back-text-pwg,
  .flip-car-inner-back-text-lf,
  .flip-card-inner-back-text-wds {
    background: lightgray; 
    font-weight: bold;
    background-size: contain;
    z-index: 2;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flip-card-inner-back-text-pwg,
  .flip-car-inner-back-text-lf,
  .flip-card-inner-back-text-wds {
    background: lightgray; 
    font-weight: bold;
    background-size: contain;
    z-index: 2;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flip-card-inner-back-text-pwg,
  .flip-car-inner-back-text-lf,
  .flip-card-inner-back-text-wds {

    line-height: 1.3;
  }

  